<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99686d">  <td>23/10/19 12:03:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC_1.Executer()[pri:0, instance:tectclass_package.Post_TC_1@36cda2c2]">Executer</td> 
  <td>main@145581669</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>23/10/19 12:02:58</td>   <td>-3215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TC1.Executer()[pri:0, instance:tectclass_package.PUT_TC1@36b4091c]">Executer</td> 
  <td>main@145581669</td>   <td></td> </tr>
<tr bgcolor="899890">  <td>23/10/19 12:02:53</td>   <td>-8241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.Executer()[pri:0, instance:tectclass_package.Get_TC1@7922d892]">Executer</td> 
  <td>main@145581669</td>   <td></td> </tr>
<tr bgcolor="6a85c4">  <td>23/10/19 12:03:00</td>   <td>-1132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.Executer()[pri:0, instance:tectclass_package.Patch_TC1@4671115f]">Executer</td> 
  <td>main@145581669</td>   <td></td> </tr>
</table>
